<section id="newsletter">
    <div class="news">
        <h4>Sign Up For Newsletters</h4>
        <p>Get notified about our new arrivals and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="email" placeholder="Your Email Address">
        <button class="sign">Sign Up</button>
    </div>
</section>
</body>
<footer class="footer">
    <div class="col">
        <h4>Contacts</h4>
        <p><strong>Address :-</strong>Lorem ipsum dolor sit a nisi.</p>
        <p><strong>Phone :</strong>+91 99999 99999</p>
        <div class="follow">
            <h4>Follow us on</h4>
            <div class="icon">
                <i id="facebook" class="fab fa-facebook fa-2x"></i>
                <i id="instagram" class="fab fa-instagram fa-2x"></i>
                <i id="twitter" class="fab fa-twitter fa-2x"></i>
                <i id="youtube" class="fab fa-youtube fa-2x"></i>
            </div>

        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and condition</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="/login">Sign In</a>
        <a href="#">My Orders</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track my Order</a>
        <a href="#">Help</a>
    </div>
    <div class="copyright">
        <p>© 2024 Abhinav Shinde. All rights reserved </p>
        <p>The images used on this website have been sourced from various online platforms. While efforts have been made
            to ensure compliance with copyright laws, the origins and usage rights of these images may vary. No explicit
            authority is claimed over the images</p>
        <p>Only made for Learning Purpose.</p>

    </div>
</footer>
<script src="/js/script.js"></script>

</html>