body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0px 0px;
    padding: 0px 80px;

}

.hidden_left {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show_left {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.hidden_up {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(-100%);
    transition: all 1.5s;
}

.show_up {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

h1 {
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 55px;
    color: black;
    margin-top: 10px;
}

.link {
    padding-top: 1em;
}

#navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 0px;
}

#navlink li {
    padding: 0 20px;
    position: relative;
}

#navlink li a {
    text-decoration: none;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: large;
    transition: all 0.25s ease;
}

#navlink li a.active::after,
#navlink li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#res {
    color: white;
    margin-top: 30px;
    display: none;
}

#close {
    color: white;
    display: none;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #343a40;
    margin-bottom: 1.5em;
}

.news {
    padding-top: 0px;
    padding-left: 2.75em;
}

.news h4 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: 800;
    font-family: "EB Garamond", serif;
    color: white;
}

.news p {
    font-size: 1.25em;
    font-weight: 400;
    font-family: "Dosis", sans-serif;
    color: white;
}

.news p span {
    color: #e09f3e;
}

#newsletter input {
    height: 3.125rem;
    font-size: 1em;
    width: 80%;
    padding-left: 1em;
    border: 1px solid transparent;
    border-radius: 0.5em;
    outline: none;
}

.form .sign {
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 3.4rem;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 0.5em;
    outline: none;
    background-color: #e09f3e;
    white-space: nowrap;
    margin-right: 1em;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 1.20em;
    font-family: "Dosis", sans-serif;
}

footer h4 {
    font-size: 1.35em;
}

footer a {
    text-decoration: none;
    padding-bottom: 1em;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer .icon {
    font-size: 1em;
}

footer .icon i {
    padding-right: 0.5em;
}

footer .icon #facebook:hover {
    color: blue;
}

footer .icon #instagram:hover {
    color: #E1306C;
}

footer .icon #youtube:hover {
    color: red;
}

footer .icon #twitter:hover {
    color: #1DA1F2;
}



#prodet .single-product {
    width: 40%;
    margin-left: 50px;
    margin-right: 50px;
}

.similar-image-group {
    display: flex;
    justify-content: space-evenly;
}

.small-image-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-product img {
    border: black 2px solid;
    border-radius: 10px;
}

#prodet {
    display: flex;
}

#prodet .single-pro-detail {
    width: 50%;
    padding-top: 30px;
}

#prodet .single-pro-detail h6 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#prodet .single-pro-detail h4 {
    padding: 10px 0 10px 0;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

#prodet .single-pro-detail h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

#prodet .single-pro-detail select {
    display: block;
    padding: 10px 10px;
    margin-bottom: 10px;
}

#prodet .single-pro-detail input {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.btn2 {
    border: 1px black solid;
    border-radius: 1.75em;
    background: white;
    color: black;
    backdrop-filter: blur(10px);
    font-size: 15px;
    padding: 1em 2em;
    cursor: pointer;
    transition: 0.1ms all;
}

.btn2:hover {
    color: white;
    background-color: black;
}

#prodet .single-pro-detail p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

#products {
    padding-bottom: 1em;
}

#products h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 2.75em;
    padding-bottom: 50px;
    border-bottom: grey 1px solid;
    border-top: grey 1px solid;
    padding-top: 50px;

}

#products p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 2em;
}


#two_piece,
#shirt,
#trouser {
    padding-bottom: 0.75em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: grey 1px solid;
}



#two_piece,
#shirt,
#trouser {
    padding-top: 1.3em;
}


#two_piece .pro,
#shirt .pro,
#trouser .pro {
    text-align: center;
}

#two_piece .pro img,
#shirt .pro img,
#trouser .pro img {
    height: 18em;
    width: 15em;
}

#trouser {
    border: none;
}

@media (max-width:900px) {


    #navlink {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        /* top: 0; */
        top: -400px;
        height: 300px;
        width: 100px;
        background-color: transparent;
        backdrop-filter: blur(10px);
        padding: 80px 0 0 20px;
        transition: 0.3s;
    }

    #navlink.active {
        top: 0px;
    }

    #navlink li {
        margin-bottom: 25px;
    }

    #res {
        display: flex;
        color: black;
    }

    #close {
        display: flex;
        position: absolute;
        top: 30px;
        left: 37px;
        color: white;
        font-size: 24px;
        text-decoration: none;
    }

    #features {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-bottom: grey 1px solid;
    }

    #features .box1 img {
        height: 20em;
        width: 15em;
        transition: all 0.7s;
    }

    #shirt,
    #two_piece,
    #trouser,
    #men_shoes,
    #women_shoes {
        padding-bottom: 0.75em;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        border-bottom: grey 1px solid;
    }

    #shirt .pro img,
    #two_piece .pro img,
    #trouser .pro img,
    #men_shoes .pro img,
    #women_shoes .pro img {
        height: 10em;
        width: 7em;
    }
}

@media (max-width:500px) {

    #features {
        flex-direction: column;
        justify-content: center;
    }

    #features .box1 button {
        margin-bottom: 10px;
    }

    #shirt,
    #two_piece,
    #trouser,
    #men_shoes,
    #women_shoes {
        flex-direction: column;
    }

    #shirt .pro img,
    #two_piece .pro img,
    #trouser .pro img,
    #men_shoes .pro img,
    #women_shoes .pro img {
        margin-top: 20px;
    }

    #newsletter input {
        width: 200px;
    }

    #prodet {
        display: flex;
        flex-direction: column;
        padding-left: 70px;
    }

    #prodet .single-product {
        width: 50%;
        margin-left: 50px;
        margin-right: 50px;
    }

    #prodet .single-pro-detail input {
        margin-bottom: 15px;
    }

    #prodet .single-pro-detail h4 {
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
}